html { 
    height:100%;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body { 
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    color: #444444 !important;
    font-family: 'Roboto', sans-serif !important;
}

html, body{
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, p{
    margin: 0 !important;
}

a{
    cursor: pointer;
}

.btn{
    background-color: #49A1DE;
    color: #f2f2f2;
}

.btn:hover{
    background-color: #387CAB;
    color: #f2f2f2 !important;
}

content{
    display: block;
    background-color: #fafafa;
}

.search-group{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.8s;
}

.table-container{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.cursor{
    cursor: pointer;
}

.loading{
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.loading img{
    top: 50%;
    left: 50%;
    position: fixed;
}

@media (max-width: 768px) {
    
}