.videos{
    padding: 0 10%;
    min-height: calc(100vh - 160px);
}

.videos h1{
    font-size: 18px;
    font-weight: 700;
}

.videos p{
    font-size: 14px;
    margin: 8px 0 !important;
}

.videos__item{
    margin: 16px 0;
}

.videos__item img, .videos__item h1, .videos__item p{
    cursor: pointer;
}

.videos__item__info{
    display: inline-block;
    width: calc(100% - 346px);
    margin-left: 16px;
    vertical-align: middle;
}

.videos__pages{
    text-align: right;
    margin: 16px 0;
}

.videos__pages button{
    margin: 0 8px;
}

@media (max-width: 768px) {
    .videos{
        padding: 0 5%;
    }

    .videos__item img{
        width: 100%;
    }

    .videos__item__info{
        width: auto;
        margin: 16px 0 0;
    }
}