.video{
    min-height: calc(100vh - 160px);  
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

.video h1{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px !important;
}

.video__item{
    text-align: center;
    margin-top: 16px;
}

.video__item iframe{
    max-width: 100%;
    margin: 0 auto;
}

.video__item__content{
    text-align: left;
    margin: 16px auto;
    width: 800px;
    max-width: 100%;
}

.video__item__count{
    text-align: right;
    padding: 4px 0;
}

.video__item__count > div{
    display: inline-block;
    padding: 8px 16px;
    border-right: 1px solid #d3d3d3;
}

.video__item__count > div:last-child{
    border: 0;
    padding-right: 0;
}

.video__item__count p{
    display: inline-block;
    margin-left: 4px !important;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .video{
        padding: 0 5%;
    }

    .video__item iframe{
        height: auto;
    }

    .video__item__count{
        text-align: center;
    }

    .video__item__count > div{
        text-align: center;
        padding: 8px 0;
        margin-right: 16px;
        max-width: 25%;
        border: 0;
    }

    .video__item__count p{
        display: block;
        margin: 4px 0 0 !important;
    }
}